html{
  min-height: 100%;
  background: url(images/insta_back.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
}

a:hover{
  cursor: url(images/cursor_hand.png),url(images/cursor_hand.cur),pointer;
}

.logo{
  position: absolute;
  top: 20px;
  right: 50%;
  z-index: 5;
}

.logoimg{
  width: 100px;
  height: auto;
}

div{
  margin: 0 auto;
}

ul{
  list-style: none;
  margin: 0 auto;
  width: 860px;
  height: 260px;
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

li{
  float: left;
  margin: 0 25px 0 0;
}

img{
  width: 260px;
  height: 260px;
}
