html{
  cursor: url(images/cursor.png),url(images/cursor.cur),pointer;
}

body {
  padding: 0;
  margin: 0;
  background-image: url(images/back.jpg);
  background-size: cover;
}

a:hover{
  cursor: url(images/cursor_hand.png),url(images/cursor_hand.cur),pointer;
}

.container{
  display: flex;
  justify-content: center;
}
.right{
  width: 220px;
  height: auto;
  text-align: center;
}
.contents{
  width: 70vw;
  height: 100vh;
  overflow-y: scroll;
}

.contents::-webkit-scrollbar {
  display: none;
}

.logo{
  margin: 30px auto 50px;
}

.logoimg{
  width: 100px;
  height: auto;
  margin: 0 auto;
}

.title{
  margin: 50px auto;
  min-height: 256px;
}

.info{
  margin: 80px auto;
}

.header{
  height: 20%;
}

.wrap{
  display: flex;
  flex-direction: row;
  width: 1008px;
  margin: 0 auto;
  padding: 0 auto;
}

.box{
  width: 232px;
  height: 232px;
  margin: 5px;
  padding: 5px;
  position: relative;
}

.box a{
  width: 232px;
  height: 232px;
}

.hoverimg{
  display: none;
  width: 232px;
  height: 232px;
  z-index: 2;
  position: absolute;
  top: 0;
  margin-top: 4px;
}

.box a:hover + .hoverimg{
  display:block;
}

.box .charm-image, .box .charm-memo {
  display: none;
  width: 232px;
  height: 232px;
}

.modal-overlay {
  z-index:2; /*デモではheader,footerをz-index:1にしたので それより上げています*/
  display:none; /*jsでフェードインされるまでdisplay:none*/
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh; /*100vhでビューポートの高さいっぱいになります*/
  background-color:rgba(0,0,0,.5)} /*これは好きな色・透明度で*/
.modal-content {
  position:fixed;
  display:none; /*jsでフェードインされるまでdisplay:none*/
  z-index:3; /*オーバーレイより上に*/
  margin:10px;
  padding:15px;
  background:#fff}
.modal-content img {width:auto;max-height:75vh}
.img{
  float: left;
}
.modalimg{
  width: 500px;
}
.text{
  width: 400px;
  height: 500px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
a.modal-close { /*クローズボタンは何でも好きなスタイルでOK*/
    position:absolute;
    top:10px;
    right:10px;}
